body{
    width: 100vh;
    height: 100vh;
    background-size: 170vh;
    background-repeat: no-repeat;
    background-image: url(https://1.bp.blogspot.com/-rFm-eBCw_O0/Uj8LV0iPoDI/AAAAAAABCyY/pxMB6I5hQGE/s1600/minions43.jpg);
}
